@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
}

html,
body {
  height: 100%;
}

body {
  background: theme(--color-gray-950);
  color: theme(--color-white);
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  @apply flex p-2 gap-x-[24px] flex-wrap items-center justify-center xs:h-[200px] h-[100px] bg-gray-900 text-gray-50;
}
